<table class="nested">
    <thead>
        <tr>
            <th>Nominee</th>
            <th>Post</th>
            <th>Score</th>
            <th>Member for</th>
            {{#if (someTruthy this "withdrawnDate")}}
                <th>Withdrawal date</th>
            {{/if}}
        </tr>
    </thead>
    <tbody>
        {{#each this}}
        <tr>
            <td>
                <a href="{{this.permalink}}">{{{this.userName}}}</a>
            </td>
            <td>
                <a href="{{this.nominationLink}}">nomination</a>
            </td>
            <td>
                {{this.userScore}}
            </td>
            <td>
                {{unprefix "member for" this.userYears}}
            </td>
            {{#if this.withdrawnDate}}
            <td>{{utcTimestamp this.withdrawnDate}}</td>
            {{/if}}
        </tr>
        {{/each}}
    </tbody>
</table>