<h1>{{{heading}}}</h1>

<nav><span class="navitem">{{{url "/" "Home"}}}</span> > <span class="navitem">Config</span></nav>

<form method="post">

    {{{data/statusText}}}

    {{#each data/configObject}}
    <div><label>{{@key}} <input type="text" name="{{@key}}" aria-label="{{@key}}" value="{{this}}" placeholder="(empty)" /></label></div>
    {{/each}}

    <input type="hidden" name="password" value="{{data/password}}" />

    <div class="form-controls mt20">
        <button>Save</button>
    </div>
</form>