<h1>{{{heading}}}</h1>

<div>
    <a href="{{data/election.electionUrl}}">election</a> | <a href="{{data/chatRoomUrl}}">chatroom</a>
</div>

<div>
    <table>
        {{#with data/election}}
        <tr><td>Last Updated</td><td>{{updated}}</td></tr>
        <tr><td>Election URL</td><td>{{electionUrl}}</td></tr>
        <tr><td>Election Title</td><td>{{title}}</td></tr>
        <tr><td>Election #</td><td>{{electionNum}}</td></tr>
        <tr><td>Site Name</td><td>{{sitename}}</td></tr>
        <tr><td>Host Name</td><td>{{siteHostname}}</td></tr>
        <tr><td>Chat URL</td><td>{{chatUrl}}</td></tr>
        <tr><td>Current Phase</td><td>{{phase}}</td></tr>
        <tr><td>Cancelled?</td><td>{{data/electionMeta/cancelled}}</td></tr>
        <tr><td>Nomination Start Date</td><td>{{utcTimestamp dateNomination}}</td></tr>
        <tr><td>Primary Start Date</td><td>{{utcTimestamp datePrimary}}</td></tr>
        <tr><td>Election Start Date</td><td>{{utcTimestamp dateElection}}</td></tr>
        <tr><td>Election End Date</td><td>{{utcTimestamp dateEnded}}</td></tr>
        <tr><td>Positions</td><td>{{numPositions}}</td></tr>
        <tr><td>Rep. Vote</td><td>{{repVote}}</td></tr>
        <tr><td>Rep. Nominate</td><td>{{repNominate}}</td></tr>
        <tr><td>Voter Stats</td><td>{{statVoters}}</td></tr>
        {{/with}}
        <tr><td>Nominees</td><td><code>{{data/electionMeta/nominees}}</code></td></tr>
        <tr><td>Winners</td><td><pre>{{data/electionMeta/winners}}</code></td></tr>
    </table>
</div>

<footer>
    <p>I am <strong><a href="https://github.com/samliew/se-electionbot">ElectionBot</a></strong>, a chatbot to handle queries for commonly-asked questions in an election chat room.</p>
    <p>I also greet users with the election status after certain levels of room inactivity.</p>
    <p>Please direct any queries &amp; feedback to <a href="https://github.com/samliew/se-electionbot/graphs/contributors">my developers</a> in the <a href="https://chat.stackoverflow.com/rooms/190503/electionbot-development">development chatroom</a> or <a href="https://github.com/samliew/se-electionbot/issues">create an issue on Github</a>.</p>
</footer>