<h1>{{{heading}}}</h1>

<nav><span class="navitem">{{{url "/" "Home"}}}</span> > <span class="navitem">Say</span></nav>

<form method="post">

    {{{data/statusText}}}

    <textarea type="text" name="message" id="message" aria-label="message" placeholder="message" maxlength="500"></textarea>

    <input type="hidden" name="password" value="{{data/password}}" />

    <div class="form-controls mt20">
        <button>Send</button>
    </div>
</form>

<div class="chat-transcript">
    <h3>Recent Chat Messages</h3>
    <table class="smaller-table">
        <thead>
            <tr>
                <th>Message ID</th>
                <th>Date</th>
                <th>Username</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
        {{#each (reverse data/transcriptMessages)}}
        <tr>
            <td data-message-id="{{this.messageId}}" class="cursor-pointer" title="click to reply to this message">{{this.messageId}}</td>
            <td>{{utcTimestamp this.date}}</td>
            <td><a href="https://chat.{{@root/data/chatDomain}}/users/{{this.chatUserId}}" target="_blank">{{this.username}}</a></td>
            <td>{{{this.messageHtml}}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>

<script>
(function() {

    const msgField = document.getElementById('message');
    document.body.addEventListener('click', function (evt) {
        const el = evt.target;
        if (el.dataset.messageId && el.dataset.messageId.length) {
            msgField.value = `:${el.dataset.messageId} ` + msgField.value.replace(/^:\d+\s*/, '');
        }
    }, false);

    function scheduleReload() {
        return setTimeout(function () {
            return window.location.reload();
        }, 5 * 60 * 1e3);
    }

    var timeout = scheduleReload();

    msgField.addEventListener("input", function () {
        clearTimeout(timeout);
        timeout = scheduleReload();
    });

})();
</script>