<h1>{{{heading}}}</h1>

<nav><span class="navitem">{{{url "/" "Home"}}}</span> > <span class="navitem">Say</span></nav>

<form method="post">

    {{{data/statusText}}}

    <textarea type="text" name="message" aria-label="message" placeholder="message" maxlength="500"></textarea>

    <input type="hidden" name="password" value="{{data/password}}" />

    <div class="form-controls mt20">
        <button>Send</button>
    </div>
</form>

<div class="chat-transcript">
    <h3>Recent Chat Messages</h3>
    <table class="smaller-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Username</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
        {{#each data/transcriptMessages}}
        <tr>
            <td>{{utcTimestamp this.date}}</td>
            <td><a href="https://chat.{{@root/data/chatDomain}}/users/{{this.chatUserId}}" target="_blank">{{this.username}}</a></td>
            <td>{{{this.messageHtml}}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>