<table class="table-small">
  <thead>
    <tr>
      <th>Link</th>
      <th>Id</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    {{#each (getter election key)}}
      <tr>
        <td><a
            href="{{getter
              ../election
              'siteUrl'
            }}/help/badges/{{this.badge_id}}"
          >{{this.name}}</a></td>
        <td>{{this.badge_id}}</td>
        <td>{{this.type}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>