<header>
  <nav class="main-nav">
    <select class="form-select" id="nav">
        <option selected="selected">Menu</option>
        <optgroup label="Menu">
        {{#iterate routes}}
        {{#unlessEquals this.path ../path}}
            {{#if (either this.public ../password)}}
            <option value="{{this.path}}{{#if ../password}}?password={{../password}}{{/if}}">
            {{initIfFalsy (capitalize (unprefix "/" this.path)) "Home"}}
            </option>
            {{/if}}
        {{/unlessEquals}}
        {{/iterate}}
        </optgroup>
        <optgroup label="Instances">
            {{#each instances}}
                {{#if (either (not (includes name "test")) ../password) }}
                <option value="{{web_url}}">{{name}}</option>
                {{/if}}
            {{/each}}
        </optgroup>
    </select>
  </nav>
</header>