{{> navigation routes=data/routes password=data/password path=data/path }}

<h1>{{{heading}}}</h1>

{{> breadcrumbs current=current }}

<form method="post">

    <div class="mt-4">
        {{{data/statusText}}}
    </div>

    <div class="row mt-4">
        {{#each data/configObject}}
        <div class="col col-6 col-lg-4">
            <div class="form-group">
                <label for="{{@key}}">{{@key}}</label>
                <input type="text" class="form-control" name="{{@key}}" id="{{@key}}" value="{{this}}" aria-label="{{@key}}" placeholder="(empty)" />
            </div>
        </div>
        {{/each}}
    </div>

    <input type="hidden" name="password" value="{{data/password}}" />

    <div class="form-controls text-center mt-4">
        <button class="btn btn-primary">Save</button>
    </div>
</form>