<h1>{{{heading}}}</h1>

{{#with data}}

<blockquote>
    <p>I am <strong>{{{url botconfig/repoUrl "ElectionBot"}}}</strong>, a chatbot that can answer commonly-asked questions about elections for sites on the Stack Exchange network.</p>
    <p>This instance is listening to <strong>{{{url chatRoomUrl}}}</strong>.</p>
    <p>The bot is {{#if isBotInRoom}}{{else}}<strong>not</strong> {{/if}}in the room.</p>
</blockquote>

<main class="dashboard">

    <section>
        <aside>
            <h2>Election Info</h2>
            {{#with election}}
            <table>
                <tr><td>Last updated</td><td>{{utcTimestamp updated}} <span class="relativetime" title="{{utcTimestamp updated}}"></span></td></tr>
                <tr><td>Site</td><td>{{siteName}}</td></tr>
                <tr><td>Hostname</td><td>{{{url (getter @root/data/election "siteUrl")}}}</td></tr>
                <tr><td>Election Title</td><td>{{title}}</td></tr>
                <tr><td>Election URL</td><td>{{{url electionUrl}}}</td></tr>
                <tr><td>Election Chat</td>
                    {{#if chatUrl}}
                    <td>{{{url chatUrl}}}</td>
                    {{else}}
                    <td></td>
                    {{/if}}
                </tr>
                <tr><td>Current phase</td>
                    {{#if phase}}
                    <td><strong>{{phase}}</strong></td>
                    {{else}}
                    <td></td>
                    {{/if}}
                </tr>
                <tr><td>Nomination date</td><td>{{utcTimestamp dateNomination}} <span class="relativetime" title="{{utcTimestamp dateNomination}}"></span></td></tr>
                <tr><td>Primary date</td>
                    {{#if datePrimary}}
                    <td>{{utcTimestamp datePrimary}} <span class="relativetime" title="{{utcTimestamp datePrimary}}"></span></td>
                    {{else}}
                    <td></td>
                    {{/if}}
                </tr>
                <tr><td>Election date</td><td>{{utcTimestamp dateElection}} <span class="relativetime" title="{{utcTimestamp dateElection}}"></span></td></tr>
                <tr><td>End date</td><td>{{utcTimestamp dateEnded}} <span class="relativetime" title="{{utcTimestamp dateEnded}}"></span></td></tr>
                <tr><td>Rep. to vote</td><td>{{repVote}}</td></tr>
                <tr><td>Rep. to nominate</td><td>{{repNominate}}</td></tr>
                <tr><td>Positions</td><td>{{numPositions}}</td></tr>
                <tr>
                    <td>Candidates <span class="small-count" data-prefix="(" data-suffix=")">{{arrNominees.length}}</span></td>
                    {{#if arrNominees.length}}
                    <td>{{> nominees arrNominees }}</td>
                    {{else}}
                    <td></td>
                    {{/if}}
                </tr>
                <tr><td>Withdrawn <span class="small-count" data-prefix="(" data-suffix=")">{{len withdrawnNominees}}</span></td>
                    {{#if (len withdrawnNominees)}}
                    <td>{{> nominees (values withdrawnNominees) }}</td>
                    {{else}}
                    <td></td>
                    {{/if}}
                </tr>
                <tr><td>Winners <span class="small-count" data-prefix="(" data-suffix=")">{{arrWinners.length}}</span></td>
                    {{#if arrWinners.length}}
                    <td><ul class="list">
                        {{#each arrWinners}}
                        <li class="item"><a href="{{this.permalink}}">{{{this.userName}}}</a></li>
                        {{/each}}
                    </ul></td>
                    {{else}}
                    <td></td>
                    {{/if}}
                </tr>
                <tr><td>Opavote URL</td><td>{{{url opavoteUrl}}}</td></tr>
                <tr><td>Voter stats</td><td>{{statVoters}}</td></tr>
                <tr><td>BLT file URL</td><td>{{{url (getter this "electionBallotURL")}}}</td></tr>
            </table>

            <table>
                <tr><td>Current Mods <span class="small-count" data-prefix="(" data-suffix=")">{{currentSiteMods.length}}</span></td>
                    {{#if currentSiteMods.length}}
                    <td><ul class="list">
                        {{#each currentSiteMods}}
                        <li class="item"><a href="{{this.link}}">{{{this.display_name}}}</a></li>
                        {{/each}}
                    </ul></td>
                    {{else}}
                    <td></td>
                    {{/if}}
                </tr>
                <tr>
                    <td>Badges</td>
                    <td>
                        <table class="nested">
                            <thead>
                                <tr>
                                    <th>Link</th>
                                    <th>Id</th>
                                    <th>Type</th>
                                    {{#if (call "isStackOverflow")}}<th>Required</th>{{/if}}
                                </tr>
                            </thead>
                            <tbody>
                            {{#each electionBadges}}
                            <tr>
                                <td><a href="{{getter @root/data/election "siteUrl"}}/help/badges/{{this.badge_id}}">{{this.name}}</a></td>
                                <td>{{this.badge_id}}</td>
                                <td>{{this.type}}</td>
                                {{#if (contextCall "isStackOverflow" @root/data/election)}}<td>{{{required this.required}}}</td>{{/if}}
                            </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
            {{/with}}
        </aside>
    </section>

    <section>
        <aside>
            <h2>Bot Config</h2>
            {{#with botconfig}}
            <table>
                <tr><td>scriptHostname</td><td>{{{url scriptHostname}}}</td></tr>
                <tr><td>scriptInitDate</td><td>{{utcTimestamp scriptInitDate}} <span class="relativetime" title="{{utcTimestamp scriptInitDate}}"></span></td></tr>
                <tr><td>Control Room</td><td>{{{url controlRoomUrl}}}</td></tr>
                <tr><td>isMuted</td><td>
                    {{{boolean isMuted}}}
                    {{#if isMuted}}
                    <span class="relativetime" title="{{utcTimestamp lastMessageTime}}" data-prefix="ends "></span>
                    {{/if}}
                </td></tr>
                <tr><td>throttleSecs</td><td>{{throttleSecs}} secs</td></tr>
                <tr><td>scrapeIntervalMins</td><td>{{scrapeIntervalMins}} mins</td></tr>
                <tr><td>duplicateResponseText</td><td>{{duplicateResponseText}}</td></tr>
                <tr><td>maxMessageLength</td><td>{{maxMessageLength}}</td></tr>
                <tr><td>maxMessageParts</td><td>{{maxMessageParts}}</td></tr>
                <tr>
                    <td>showTranscriptMessages</td>
                    <td>{{showTranscriptMessages}}</td>
                </tr>
                <tr><td>keepAlive</td><td>{{{boolean keepAlive}}}</td></tr>
                <tr><td>feedbackUrl</td><td>{{{url feedbackUrl}}}</td></tr>
                <tr><td>repoUrl</td><td>{{{url repoUrl}}}</td></tr>
                <tr><td>flags</td><td>{{> deep flags}}</td></tr>
            </table>
            {{/with}}
        </aside>

        <aside>
            <h2>Room Activity</h2>
            {{#with botconfig}}
            <table>
                <tr><td>lastActivityTime</td><td>{{utcTimestamp lastActivityTime}} <span class="relativetime" title="{{utcTimestamp lastActivityTime}}"></span></td></tr>
                <tr><td>lastMessageTime</td>
                    {{#if lastMessageTime}}
                    <td>{{utcTimestamp lastMessageTime}} <span class="relativetime" title="{{utcTimestamp lastMessageTime}}"></span></td>
                    {{else}}
                    <td></td>
                    {{/if}}
                </tr>
                <tr><td>lastBotMessage</td><td>
                    <pre>{{lastBotMessage}}</pre>
                    <div class="mt10">{{{lastBotMessageHtml}}}</div>
                </td></tr>
                <tr><td>ignoreSelf</td><td>{{{boolean ignoreSelf}}}</td></tr>
                <tr><td>funResponseCounter</td><td>{{funResponseCounter}}</td></tr>
                <tr><td>maxFunResponses</td><td>{{maxFunResponses}}</td></tr>
                <tr><td>canSendFunResponse</td><td>{{{boolean canSendFunResponse}}}</td></tr>
                <tr><td>activityCounter</td><td>{{activityCounter}}</td></tr>
                <tr><td>minActivityCountThreshold</td><td>{{minActivityCountThreshold}}</td></tr>
                <tr><td>roomReachedMinActivityCount</td><td>{{{boolean roomReachedMinActivityCount}}}</td></tr>
                <tr><td>maxActivityCountThreshold</td><td>{{maxActivityCountThreshold}}</td></tr>
                <tr><td>roomReachedMaxActivityCount</td><td>{{{boolean roomReachedMaxActivityCount}}}</td></tr>
                <tr><td>shortIdleDurationMins</td><td>{{shortIdleDurationMins}} mins</td></tr>
                <tr><td>roomBecameIdleAWhileAgo</td><td>{{{boolean roomBecameIdleAWhileAgo}}}
                    {{#unless roomBecameIdleAWhileAgo}}
                    <span class="relativetime" title="{{utcTimestamp roomBecameIdleAWhileDate}}"></span>
                    {{/unless}}
                </td></tr>
                <tr><td>longIdleDurationHours</td><td>{{longIdleDurationHours}} hours</td></tr>
                <tr><td>roomBecameIdleHoursAgo</td><td>{{{boolean roomBecameIdleHoursAgo}}}
                    {{#unless roomBecameIdleHoursAgo}}
                    <span class="relativetime" title="{{utcTimestamp roomBecameIdleHoursDate}}"></span>
                    {{/unless}}
                </td></tr>
                <tr><td>shortBusyDurationMinutes</td><td>{{shortBusyDurationMinutes}} mins</td></tr>
                <tr><td>roomTooBusyForMinutes</td><td>{{{boolean roomTooBusyForMinutes}}}</td></tr>
                <tr><td>longBusyDurationHours</td><td>{{longBusyDurationHours}} hours</td></tr>
                <tr><td>roomTooBusyForHours</td><td>{{{boolean roomTooBusyForHours}}}</td></tr>
                <tr><td>lowActivityCheckMins</td><td>{{lowActivityCheckMins}} mins</td></tr>
                <tr><td>botHasBeenQuiet</td><td>{{{boolean botHasBeenQuiet}}}
                    {{#unless botHasBeenQuiet}}
                    <span class="relativetime" title="{{utcTimestamp botWillBeQuietDate}}"></span>
                    {{/unless}}
                </td></tr>
                <tr><td>botSentLastMessage</td><td>{{{boolean botSentLastMessage}}}</td></tr>
            </table>
            {{/with}}
        </aside>
    </section>

</main>

{{/with}}

<base target="_blank" />
<meta http-equiv="refresh" content="{{data/autoRefreshInterval}}" />