{{> navigation routes=data/routes password=data/password path=data/path }}

<h1 class="fs-4">{{{heading}}}</h1>

{{> breadcrumbs current=current }}

<main class="dashboard row">
    <section class="col-auto">
        <aside>
            <h2>Configuration</h2>
            {{> deep data/configuration top=true}}
        </aside>

        <aside>
            <h2>Versions</h2>
            <table class="table-small">
                <tbody>
                    {{#each data/versions}}
                    <tr>
                        <td>{{ @key }}</td>
                        <td>{{ this }}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </aside>
    </section>

    <section class="col-auto">
        <aside>
            <h2>Routes</h2>
            <table class="table-small">
                <thead>
                    <tr>
                        <th>path</th>
                        <th>methods</th>
                        <th>public</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data/routes}}
                    <tr>
                        <td>{{{ url @key }}}</td>
                        <td>{{ join this/methods ", " }}</td>
                        <td>{{{ yesno this/public }}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </aside>
    </section>
</main>